button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border-radius: 3px;
	border: 0px;
	background-color: $color4;
	color: $text1;
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
