@font-face {
  font-family: Neon;
  src: url("fonts/Neon.ttf") format('truetype'),
  url("fonts/Neon.woff") format('woff'),
  url("fonts/Neon.woff2") format('woff2');
}

@font-face {
  font-family: Poiret;
  src: url("fonts/PoiretOne-Regular.ttf") format('truetype'),
  url("fonts/PoiretOne-Regular.woff") format('woff'),
  url("fonts/PoiretOne-Regular.woff2") format('woff2');
}

@font-face {
  font-family: Bytes;
  src: url("fonts/256BYTES.ttf") format('truetype'),
  url("fonts/256BYTES.woff") format('woff'),
  url("fonts/256BYTES.woff2") format('woff2');
}

@font-face {
  font-family: Photographs;
  src: url("fonts/Photographs.ttf") format('truetype'),
  url("fonts/Photographs.woff") format('woff'),
  url("fonts/Photographs.woff2") format('woff2');
}

@font-face {
  font-family: Roboto;
  src: url("fonts/roboto/Roboto-Regular.ttf") format('truetype'),
  url("fonts/roboto/Roboto-Regular.woff") format('woff'),
  url("fonts/roboto/Roboto-Regular.woff2") format('woff2');
}

@font-face {
  font-family: joystick;
  src: url("fonts/joystick/Joystick.otf") format('opentype'),
}

@font-face {
  font-family: OneMoreLight;
  src: url("fonts/OneMoreLight/KGOneMoreLight.ttf") format('truetype'),
}
