body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";

@import "../fonts/fonts";

h1, h2, h3, h4, h5, h6, .site-title a{
  font-family: OneMoreLight;
}
p, a {
  font-family: Roboto;
}
.menu li a {
	font-family: neon;
}
