#main-primary-menu li {
  display: inline-block;
  width: 100%;
  min-height: 2em;
  height: auto;
  font-size: 5em;
  color: $text1;
  text-align: center;
  text-shadow: $text2 2px 2px;
}
#primary-menu li{
  color: $text1;
  font-size: 2.5em;
  padding: .25em;
  margin-bottom: 0.5em;
  text-shadow: $text2 2px 2px;
}
.menu li a {
  font-size: 1.2em;
  color: inherit;
  text-shadow: inherit;
}
.menu li:nth-child(3n) {
  background-color: $color2;
}
.menu li:nth-child(3n+1) {
  background-color: $color3;
}
.menu li:nth-child(3n+2) {
  background-color: $color4;
}
